@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

.hidden {
  display: none;
}

.Hero {
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;

    animation-duration: 0.3s;
    animation-name: hero;
  }

  .HomeFlexWrap {
    position: absolute;
    top: 0;
    height: 88.2vh;
    width: 100vw;
    border: 1px black solid;
    .HomeFlex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      width: 100%;
      height: 100%;

      animation-name: homeflex;
      animation-duration: 2s;

      h2 {
        font-size: 23px;
        font-family: "Black Ops One", cursive;

        background-color: rgb(255, 255, 255);

        padding: 5px 10px;
      }

      a {
        padding: 40px 20px;

        border-radius: 70px;
        border: none;

        background-color: rgb(255, 255, 255);

        font-size: 13px;

        -webkit-box-shadow: 0px 0px 17px 10px #ffffff;
        box-shadow: 0px 0px 17px 10px #ffffff;

        text-decoration: none;

        transition: all 0.3s ease-in-out;

        color: black;
      }
      a:hover {
        background-color: black;
        color: #ffffff;
      }
    }
  }
}

@keyframes hero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes homeflex {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 2;
  }
}

@media (min-width: 340px) {
  .Hero {
    .HomeFlexWrap {
      height: 95.03vh;
      .HomeFlex {
        a {
          font-size: 14px;
          padding: 45px 25px;
        }
      }
    }
  }
}
@media (min-width: 360px) {
  .Hero {
    .HomeFlexWrap {
      height: 101.4vh;
      .HomeFlex {
        h2 {
          font-size: 25px;
        }
      }
    }
  }
}
@media (min-width: 380px) {
  .Hero {
    .HomeFlexWrap {
      height: 106.5vh;
      .HomeFlex {
        h2 {
          font-size: 28px;
        }

        a {
          padding: 25px 35px;
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: 400px) {
  .Hero {
    .HomeFlexWrap {
      height: 110.5vh;
      .HomeFlex {
        h2 {
          font-size: 30px;
        }
      }
    }
  }
}
@media (min-width: 450px) {
  .Hero {
    .HomeFlexWrap {
      height: 124.2vh;
      .HomeFlex {
        h2 {
          font-size: 33px;
        }
      }
    }
  }
}
@media (min-width: 480px) {
  .Hero {
    .HomeFlexWrap {
      height: 134.25vh;
      .HomeFlex {
        a {
          padding: 30px 40px;
        }
      }
    }
  }
}
@media (min-width: 500px) {
  .Hero {
    .HomeFlexWrap {
      height: 83.5vh;
      .HomeFlex {
        h2 {
          font-size: 35px;
        }
      }
    }
  }
}
@media (min-width: 550px) {
  .Hero {
    .HomeFlexWrap {
      height: 92vh;
    }
  }
}
@media (min-width: 600px) {
  .Hero {
    .HomeFlexWrap {
      height: 100vh;
      .HomeFlex {
        h2 {
          font-size: 42px;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .Hero {
    .HomeFlexWrap {
      height: 117.8vh;
    }
  }
}
@media (min-width: 800px) {
  .Hero {
    .HomeFlexWrap {
      height: 134.2vh;
      .HomeFlex {
        h2 {
          font-size: 50px;
        }

        a {
          padding: 35px 50px;
          font-size: 18px;
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .Hero {
    .HomeFlexWrap {
      height: 101.2vh;
      .HomeFlex {
        h2 {
          font-size: 53px;
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .Hero {
    .HomeFlexWrap {
      height: 113.5vh;
    }
  }
}
@media (min-width: 1150px) {
  .Hero {
    .HomeFlexWrap {
      height: 93.8vh;
    }
  }
}
@media (min-width: 1500px) {
  .Hero {
    .HomeFlexWrap {
      height: 96vh;
      .HomeFlex {
        h2 {
          font-size: 70px;
        }

        a {
          font-size: 21px;
          padding: 40px 70px;
        }
      }
    }
  }
}
@media (min-width: 1800px) {
  .Hero {
    .HomeFlexWrap {
      height: 110.5vh;
      .HomeFlex {
        h2 {
          font-size: 80px;
        }
      }
    }
  }
}
