.VideoGallery {
    margin: 0 auto;
    display: block;
    .GridVideo {        
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0;
        // .GamingCard {
        //     h3 {
        //         position: absolute;
        //         transform: translate(5%, -20%);
        //     }
        // }
    }
}